<div class="col-xs-8 col-md-8 profile-comment">
  <div class="profile-comment-head">
    <div class="profile-comment-user"><%= link_to comment.user.nick, user_posts_user_path(comment.user.nick) %></div>
   
      <div class="profile-comment-parent"></div>
   
  </div>
</div>