<div class="profile">
  <%= render 'profile_head'%>
  <div id="profile_comments">
      <%= form_tag "", id: "form_1", class: 'new_comment hidden' do %>
	    <div class="form-group">
        <input type="hidden" class="comment-current-post" value="">
        <input type="hidden" class="comment-parent-comment" value="">
	    <textarea class='comment-com-body form-control' value=""></textarea>
	    </div>
	    <div class="add-comment-buttons col-xs-12">
	      <div class="from-comment-attachment" data-img=""><span>Нічого не прикріплено</span>
	        <i class="dismiss-comment-attachment glyphicon glyphicon-remove hidden"></i>  
	      </div>
	      <button type="button" class="btn btn-danger send_comment">Додати</button>
	      <button type="button" class="btn btn-default add-comment-image">Прикріпити зображення</button>
	    </div>
	  <% end %>
    <%= render partial: 'my_comment', collection: @comments, as: :comment %>
  </div>
</div>