<div id="add-from-url-modal" class="modal fade ui-draggable builder-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Вкажіть URL-адресу зображення</h4>
            </div>
            <div class="modal-body">
              <div id="add-image-url">
                <div class="error-modal"></div>
                <div class="col-xs-10 url-input">
                  <input id="image-url-field" class="form-control">
                </div>
                <button id="image-url-field-submit" class="btn btn-primary">Додати</button>
              </div>
            </div>
        </div>
    </div>
</div>