<div id="add-video-modal" class="modal fade builder-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Виберіть джерело відео</h4>
            </div>
            <div class="modal-body">
              <div id="add-video-url" class="clearfix">
                <div id="video-source">
                  <div class="col-xs-6 left-source">
                      <i class="video-source-icon video-source-youtube-icon"></i>
                  </div>
                  <div class="col-xs-6 right-source">
                      <i class="video-source-icon video-source-coub-icon"></i>
                  </div>
                </div>
                <div id="video-source-url">
                    <div class="col-xs-10 url-input">
                      <input id="video-url-field" class="form-control">
                    </div>
                    <button id="video-url-field-submit" class="btn btn-primary">Додати</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>