<div id="post-builder-attachment" class="col-xs-2 helper-panels">
  <ul id="post-builder-attachment-menu">
    <li class="start-element">
      <a id="image_pc" class="add_element image-type-color" href="#" data-toggle="tooltip" data-placement="right" title="Додати зображення з ПК">
        <span class="glyphicon glyphicon-picture left-menu-icon"></span>
      </a>
    </li>
    <li class="standart-element">
      <a id="image_net" class="add_element image-type-color" href="#" data-toggle="tooltip" data-placement="right" title="Додати зображення з URL">
        <span class="glyphicon glyphicon-cloud left-menu-icon"></span>
      </a>
    </li>
    <li class="start-element">
      <a id="video_net" class="add_element video-type-color" href="#" data-toggle="tooltip" data-placement="right" title="Додати відео з URL">
        <span class="glyphicon glyphicon-film left-menu-icon"></span>
      </a>
    </li>
    <li class="start-element">
      <a id="text_add" class="add_element text-type-color" href="#" data-toggle="tooltip" data-placement="right" title="Додати текст">
        <span class="glyphicon glyphicon-file left-menu-icon"></span>
      </a>
    </li>
    <li class="standart-element">
      <a id="text_edit" class="add_element text-type-color disabled-elements" href="#" data-toggle="tooltip" data-placement="right" title="Редагувати текст">
        <span class="glyphicon glyphicon-edit left-menu-icon"></span>
      </a>
    </li>
    <li class="start-element">
      <a id="move_stop" class="tools-type-color disabled-elements" href="#" data-toggle="tooltip" data-placement="right" title="Зупинити">
        <span class="glyphicon glyphicon-ban-circle left-menu-icon"></span>
      </a>
    </li>
    <li class="standart-element">
      <a id="move_element" class="tools-type-color disabled-elements" href="#" data-toggle="tooltip" data-placement="right" title="Перемістити елемент">
        <span class="glyphicon glyphicon-sort left-menu-icon"></span>
      </a>
    </li>
    <li class="standart-element">
      <a id="move_element_to_top" class="disabled-elements move-elements move-elements-first tools-type-color" href="#" data-vector="top" data-toggle="tooltip" data-placement="right" title="Рухати вверх">
        <span class="glyphicon glyphicon-arrow-up left-menu-icon-min"></span>
      </a>
      <a id="move_element_to_bottom" class="disabled-elements move-elements tools-type-color" href="#" data-vector="bottom" data-toggle="tooltip" data-placement="right" title="Рухати вниз">
        <span class="glyphicon glyphicon-arrow-down left-menu-icon-min"></span>
      </a>
    </li>
    <li class="start-element last-element">
      <a id="delete_element" class="add_element tools-type-color disabled-elements" href="#" data-toggle="tooltip" data-placement="right" title="Видалити елемент">
        <span class="glyphicon glyphicon-remove left-menu-icon"></span>
      </a>
    </li>
  </ul>
</div>