<div id="post-builder-panel" class="col-xs-11">
  <div id="elements-for-upload" class="hidden">
    <input type='file' id="upload-from-pc"/>
  </div>
  <div id="clear-objects" class="hidden">
    <div class="image-object added-object dragble-object">
      <img class="picture-element"/>
    </div>
    <div class="text-object added-object dragble-object">
      <canvas id="" class="text-canvas text-element" width="500">
    </div>
    <div class="video-object added-object">
      <iframe class="video-element" width="500" height="310" src="#" frameborder="0"></iframe>
    </div>
    <div class="canvas-selector"></div>
  </div>
  <div id="builder-canvas"></div>
</div>