<div id="nav">
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>
<% @posts.each do |post| %>
  <div class="post">
    <div class="post_title">
      <%= link_to post.title, post %>
    </div>
    <div class="post_description">
      <%= post.description %>
    </div>
  </div>
  <hr>
<% end %>