<div id="user_actions_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">User Actions</h4>
            </div>
            <div class="modal-body">
              <% unless current_user%>
                <%= render 'user_sessions/new'%>
              <% else %>
                Good
              <% end %>
            </div>
        </div>
    </div>
</div>