<div id="user_actions_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Увійти в 4claps</h4>
            </div>
            <div class="modal-body clearfix">
              <% unless current_user%>
                <%= render 'user_sessions/new'%>
              <% end %>
            </div>
        </div>
    </div>
</div>