#comments {
  margin-top: 50px;
  .replies {
    margin-left: 20px;
  }
  .comment_item {
    margin-top: 10px;
  }
  .hidden_comment {
    display: none;
  }
  #com_body {
    height: 50px;
  }
  .comment_owner {
    font-weight: bold;
    font-size: 13px;
    color: #000;
  }
  .comment_reply {
    color: #999;
  }
}