.profile {
  .profile_head {
    .avatar {
      height: 120px;
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .profile_info {
      height: 100px;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .profile_navigation {
      margin-bottom: 20px;
    }
  }
}